/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.clj-kondo
test/*.db

.cpcache
.shadow-cljs
node_modules
public
bin
out
.cljs_node_repl
