{:paths   ["src" "dev" "target"]
 :deps    {org.clojure/clojure               {:mvn/version "1.11.1"}
           thheller/shadow-cljs              {:mvn/version "2.22.9"}
           com.taoensso/timbre               {:mvn/version "6.0.1"}
           ;;stuff
           net.cgrand/macrovich              {:mvn/version "0.2.1"}
           funcool/promesa                   {:mvn/version "11.0.678"}}
 :aliases {:dev  {:extra-paths ["dev" "test"]}
           :doc  {:extra-paths ["doc"]}
           :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}
                               thheller/shadow-cljs      {:mvn/version "2.20.7"}
                               hiccups/hiccups           {:mvn/version "0.3.0"}}}

           :test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha            {:mvn/version "1.71.1119"}
                                ;lambdaisland/kaocha-cljs2      {:mvn/version "0.1.58"}
                                com.lambdaisland/kaocha-cljs {:mvn/version "1.4.130"}
                                ch.qos.logback/logback-classic {:mvn/version "1.4.4"}
                                tortue/spy                     {:mvn/version "2.13.0"}
                                org.slf4j/slf4j-nop            {:mvn/version "1.7.30"}}
                  :main-opts   ["-m" "kaocha.runner"]}}}
