;; shadow-cljs configuration
{:deps {:aliases [:cljs :dev :doc]}
 :nrepl {:init-ns intemporal.example.dev}
 :dev-http {8000 "public"}
 :builds {:doc {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :compiler-options {:infer-externs true
                                   :optimizations :none}
                :modules {:main {:init-fn intemporal.doc/init}}}

          :dev {:target :browser
                :asset-path "."
                :output-dir "target"
                :compiler-options {:infer-externs true
                																	  :optimizations :none}
                :modules {:dev {:entries [intemporal.example.dev]}}}}}
