#kaocha/v1
{:plugins [:kaocha.plugin/randomize
           :kaocha.plugin/filter
           :kaocha.plugin/capture-output
           :kaocha.plugin/junit-xml
           :kaocha.plugin/cloverage]

 :reporter [kaocha.report/documentation]
 :color? true
 :fail-fast? false
 :kaocha.plugin.junit-xml/target-file "target/test-reports/report.xml"
 :cloverage/opts {:ns-exclude-regex [],
                  :text? false,
                  :lcov? true,
                  :high-watermark 80,
                  :fail-threshold 0,
                  :output #or [#env CLOVERAGE_OUTPUT "target/coverage"],
                  :low-watermark    50,
                  :ns-regex         [],
                  :summary?         true,
                  :coveralls?       false,
                  :emma-xml?        false,
                  :html?            true,
                  :nop?             false,
                  :codecov?         true}
 :bindings        {kaocha.type.cljs/*debug* true}
 :tests [
         ;; skip jdbc and fdb
         {:id           :in-memory
          :kaocha.filter/skip-meta [:integration]
          :ns-patterns  ["-test$"]
          :source-paths ["src"]
          :test-paths   ["test"]}

         ;; jvm based tests
         {:id           :test
          :ns-patterns  ["-test$"]
          :source-paths ["src"]
          :test-paths   ["test"]}
         {:id   :test-cljs
          :type :kaocha.type/cljs
          ;:cljs/timeout 20000
          :ns-patterns  ["-test$"]
          :source-paths ["src"]
          :test-paths   ["test"]}]}


;; :test-paths ["test"]
;; :cljs/timeout 10000                        ; 10 seconds, the default
;; :cljs/repl-env cljs.repl.node/repl-env     ; node is the default
;; :cljs/repl-env cljs.repl.browser/repl-env
