;; https://github.com/clj-kondo/clj-kondo/blob/master/doc/linters.md
{:lint-as {intemporal.macros/defn-workflow clojure.core/defn
           intemporal.macros/env-let clojure.core/let
           intemporal.macros/with-failure clojure.core/let
           intemporal.store.foundationdb/with-tx clojure.core/with-open
           intemporal.test-utils/with-result clojure.core/let
           promesa.core/let clojure.core/let
           promesa.core/loop clojure.core/loop
           promesa.core/recur clojure.core/recur}
 :linters {:unresolved-symbol {:exclude [(clojure.test/is [fails-with-msg?])
                                         (cljs.test/is [fails-with-msg?])]}
           :unused-binding    {:level :off
                               :exclude-unused-as true
                               :exclude-destructured-as true
                               :exclude-destructured-keys-in-fn-args true
                               :exclude-defmulti-args true}}}
