{:tasks    {"silly-mcclintock" {:args      [],
                                :ref       nil,
                                :type      :workflow,
                                :state     :pending,
                                :sym       intemporal.demo-vthread-recovery/my-workflow-,
                                :root      nil,
                                :result    [0 1 2 3 4 5 6 7 8 9],
                                :id        "silly-mcclintock",
                                :order     1,
                                :lease-end nil}},
 :history  {
            "silly-mcclintock-1"    [{:ref    "silly-mcclintock-1",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/invoke,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   [0],
                                      :error  nil,
                                      :result nil,
                                      :id     18}
                                     {:ref    "silly-mcclintock-1",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/success,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   nil,
                                      :error  nil,
                                      :result 0,
                                      :id     28}],
            "silly-mcclintock-5"    [{:ref    "silly-mcclintock-5",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/invoke,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   [4],
                                      :error  nil,
                                      :result nil,
                                      :id     22}
                                     {:ref    "silly-mcclintock-5",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/success,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   nil,
                                      :error  nil,
                                      :result 4,
                                      :id     32}],
            "silly-mcclintock-7"    [{:ref    "silly-mcclintock-7",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/invoke,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   [6],
                                      :error  nil,
                                      :result nil,
                                      :id     24}
                                     {:ref    "silly-mcclintock-7",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/success,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   nil,
                                      :error  nil,
                                      :result 6,
                                      :id     34}],
            "silly-mcclintock-4"    [{:ref    "silly-mcclintock-4",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/invoke,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   [3],
                                      :error  nil,
                                      :result nil,
                                      :id     21}
                                     {:ref    "silly-mcclintock-4",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/success,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   nil,
                                      :error  nil,
                                      :result 3,
                                      :id     31}],
            "silly-mcclintock-9"    [{:ref    "silly-mcclintock-9",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/invoke,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   [8],
                                      :error  nil,
                                      :result nil,
                                      :id     26}
                                     {:ref    "silly-mcclintock-9",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/success,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   nil,
                                      :error  nil,
                                      :result 8,
                                      :id     36}],
            "silly-mcclintock"      [{:ref    "silly-mcclintock",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.workflow/invoke,
                                      :sym    intemporal.demo-vthread-recovery/my-workflow-,
                                      :args   [],
                                      :error  nil,
                                      :result nil,
                                      :id     17}
                                     {:ref    "silly-mcclintock",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.workflow/success,
                                      :sym    intemporal.demo-vthread-recovery/my-workflow-,
                                      :args   nil,
                                      :error  nil,
                                      :result [0 1 2 3 4 5 6 7 8 9],
                                      :id     38}],
            "silly-mcclintock-10"   [{:ref    "silly-mcclintock-10",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/invoke,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   [9],
                                      :error  nil,
                                      :result nil,
                                      :id     27}
                                     {:ref    "silly-mcclintock-10",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/success,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   nil,
                                      :error  nil,
                                      :result 9,
                                      :id     37}],
            "silly-mcclintock-3"    [{:ref    "silly-mcclintock-3",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/invoke,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   [2],
                                      :error  nil,
                                      :result nil,
                                      :id     20}
                                     {:ref    "silly-mcclintock-3",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/success,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   nil,
                                      :error  nil,
                                      :result 2,
                                      :id     30}],
            "silly-mcclintock-8"    [{:ref    "silly-mcclintock-8",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/invoke,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   [7],
                                      :error  nil,
                                      :result nil,
                                      :id     25}
                                     {:ref    "silly-mcclintock-8",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/success,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   nil,
                                      :error  nil,
                                      :result 7,
                                      :id     35}],
            "silly-mcclintock-6"    [{:ref    "silly-mcclintock-6",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/invoke,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   [5],
                                      :error  nil,
                                      :result nil,
                                      :id     23}
                                     {:ref    "silly-mcclintock-6",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/success,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   nil,
                                      :error  nil,
                                      :result 5,
                                      :id     33}],
            "silly-mcclintock-2"    [{:ref    "silly-mcclintock-2",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/invoke,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   [1],
                                      :error  nil,
                                      :result nil,
                                      :id     19}
                                     {:ref    "silly-mcclintock-2",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/success,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   nil,
                                      :error  nil,
                                      :result 1,
                                      :id     29}]}
 :counter  38,
 :pcounter 2,
 :ecounter 0}
