{:tasks    {"silly-mcclintock" {:args      [],
                                :ref       nil,
                                :type      :workflow,
                                :state     :pending,
                                :sym       intemporal.demo-vthread-recovery/my-workflow-,
                                :root      nil,
                                :result    nil,
                                :id        "silly-mcclintock",
                                :order     1,
                                :lease-end nil}},
 :history  {"silly-mcclintock"      [{:ref    "silly-mcclintock",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.workflow/invoke,
                                      :sym    intemporal.demo-vthread-recovery/my-workflow-,
                                      :args   [],
                                      :error  nil,
                                      :result nil,
                                      :id     17}
                                     #_
                                     {:ref    "silly-mcclintock",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.workflow/success,
                                      :sym    intemporal.demo-vthread-recovery/my-workflow-,
                                      :args   nil,
                                      :error  nil,
                                      :result [0 1 2 3 4 5 6 7 8 9],
                                      :id     38}],
            "silly-mcclintock-1"    [{:ref    "silly-mcclintock-1",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/invoke,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   [0],
                                      :error  nil,
                                      :result nil,
                                      :id     18}
                                     {:ref    "silly-mcclintock-1",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/success,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   nil,
                                      :error  nil,
                                      :result 0,
                                      :id     28}],
            "silly-mcclintock-2"    [{:ref    "silly-mcclintock-2",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/invoke,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   [1],
                                      :error  nil,
                                      :result nil,
                                      :id     19}
                                     {:ref    "silly-mcclintock-2",
                                      :root   "silly-mcclintock",
                                      :type   :intemporal.protocol/success,
                                      :sym    intemporal.demo-vthread-recovery/with-thread,
                                      :args   nil,
                                      :error  nil,
                                      :result 1,
                                      :id     29}]}
 :counter  38,
 :pcounter 2,
 :ecounter 0}
